.taskcard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }

  .priority-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .circle {
    content: '';
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .task-priority {
  
    padding: 2px 8px;
    border-radius: 12px;
    color: #707070;
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;

  }

  .asignee-avatar {
    width: 32px;
    height: 32px;
    background-color: #FFEBEB;
    color: #0c5460;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000000;
}
  
  .task-header .more-options {
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
  }

  .task-options {
    position: absolute;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    right: 0%;
    top: 70%;
    border-radius: 12px;
    box-shadow: 0px 2px 22px 0px #7E7A7A40;
    padding: 10px 20px;
    background-color: white;
  }

  .task-options button {
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: 000000;
    cursor: pointer;
  }

  .task-options button:hover {
    color: #051517;
  }


  .task-options button:last-child {
    color: red;
  }
  
  .task-status {
    font-size: 12px;
    color: #757575;
  }
  
  .task-options {
    font-size: 18px;
    cursor: pointer;
  }
  
  .task-title {
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .checklistsHeader {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

  }

  .checklistsHeader button {
    cursor: pointer;
    border: none;
    background-color: #EEECEC;
    color: #767575;
    font-size: 20px;
  }
  
  .checklist {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .checklistItem {
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid #E2E2E2
  }
  
  .checklistItem input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dueDate {
    font-size: 12px;
    color: #FFFFFF ;
    border-radius: 10px;
    padding: 5px 8px ;
  }
  
  .statusButtons button {
    background-color:#EEECEC;
    color: #767575 ;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .statusButtons button:hover {
    background-color: #e0e0e0;
  }