.overlay {
    position: fixed; 
   width: 100%; 
   height: 100%; 
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.5); 
   z-index: 2; 
   display: flex;
   justify-content: center;
   align-items: center;
}
 
.task-form {
    width: 45%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: relative;
    /* overflow: hidden; */
}

.task-input label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 8px;
}

.required {
    color: red;
}

.task-input input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
}

.priority-group label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 8px;
}

.priority-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.priority-buttons{
    display: flex;
    gap: 30px;
}

.priority-btn {
    padding: 6px 10px;
    border-radius: 16px;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #E2E2E2;
    cursor: pointer;
}

.priority-btn:hover {
    background-color: #E2E2E2;
}


.circle-div {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right:5px;
}

.high {
    background-color: #FF2473;
}
.moderate {
    background-color: #18B0FF;
}
.low {
    background-color: #63C05B;    
}

.asignee-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.asignee-group label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-align: left;
    width: 10%;
}

.asignee-group .dropdown-select {
    width: 85%;
    height: 35px;
    box-shadow: 0px 1px 2px 0px #4D40551A;
    border: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    color: #9B959F; 
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    border: 1px solid #7E7A7A14;
    top: 100%;
    right: 0;
    width: 85%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px;
    position: relative;
}

.avatar {
    width: 32px;
    height: 32px;
    background-color: #FFEBEB;
    color: #0c5460;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-family: 'Inter';
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000000;
}

.dropdown-item span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #20102B;   
}

.dropdown-item button {
    position: absolute;
    right: 3%;
    border: 1px solid #E2E2E2;
    font-family: inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #767575;

}

.checklist-group {
    overflow-y: auto;
    min-height: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checklist-group label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-align: left;

}

.checklists-item {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    margin-bottom: 15PX;
}

.checklists-item input[type="checkbox"] {
    margin-right: 8px;
    border: 2px solid #E2E2E2;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.checklists-item input[type="text"] {
    width:90%;
    height: 25px;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #000000;
    padding: 5px;
}

.checklists-item button {
    color: red;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.checklist-group .addChecklist-btn {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    background-color: transparent;
    border: none;
    display: flex;
    margin-bottom: 10px;
    color: #767575;
}

.bottom-actions {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    
}

.bottom-actions button {
    font-family: Inter;
   
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 5px 20px;
    margin-right: 15px;
    border-radius: 12px;
}

.date-btn {
    border: 1px solid #E2E2E2;
    background-color: transparent;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color:  #707070;
}



.cancel-btn {
    border: 1px solid #CF3636;
    font-size: 20px;
    color: #CF3636 ;
    background-color: transparent;
}
.save-btn {
   background-color:#17A2B8;
   font-size: 20px;
   color: #ffffff;
   border: none;
}





/* .add-checklist {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}


.bottom-actions {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.date-picker {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  
.cancel-btn {
    padding: 8px 16px;
    color: #d9534f;
    border: 1px solid #d9534f;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}
  
.save-btn {
    padding: 8px 16px;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
} */